%% -*- mode:erlang -*-
{erl_opts, [ debug_info
           ]}.

{project_app_dirs, ["apps/*"]}.

{deps,
 [ {lee, {git, "https://git.sr.ht/~k32/Lee"}}
 %% Have to use a fork, as the upstream refuses to allow using a
 %% closure as data storage
 , {bbmustache, {git, "https://github.com/k32/bbmustache"}}
 , {snabbkaffe, {git, "https://github.com/k32/snabbkaffe"}}
 ]}.

{profiles,
 [ {test, [{deps, [ {proper, "1.2.0"}
                  ]}]}
 , {concuerror,
    [ {overrides,
       [{add, [{erl_opts,
                [ {d, 'CONCUERROR'}
                , {d, 'HUT_IOFORMAT'}
                ]}]}]}
    ]}
 ]}.

{escript_name, anvl}.
{escript_main_app, anvl_core}.
{escript_emu_args, "%%! -escript main anvl_core\n"}.
{escript_incl_apps, [ hut, typerefl, lee, anvl_make, anvl_core, anvl_compile
                    ]}.
